.wp-block-tpd-captioned-heading {
  .tpd-captioned-heading-subtitle {
    color: $link-1;
    margin: 0;
    font-size: 2rem;
  }
  .tpd-captioned-heading {
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .tpd-captioned-heading-content {
    font-size: 2rem;
  }
}