.wp-block-tpd-captioned-heading {
  .tpd-captioned-heading-subtitle {
    margin: 0;
  }
  .tpd-captioned-heading {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .tpd-captioned-heading-content {
    font-size: 1.25rem;
  }
}