body.home {
  main > div:first-child {
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      height: 100%;
      z-index: -1;

      background-size: 100% auto;
    }
  }
}

@media screen and (max-width: $phone) {
  body.home main > div:before {display: none;}
}