body.home {
  main > div{
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-size: 100% auto;
    }
  }
}