.wp-block-tpd-captioned-heading {
  margin-bottom: 3rem;

  .tpd-captioned-heading-subtitle {
    color: $link-1;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  .tpd-captioned-heading {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .tpd-captioned-heading-content {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

body.home {
  main > div:first-child {
    .wp-block-tpd-captioned-heading {
      margin-bottom: 60px;
    }

    .tpd-captioned-heading-subtitle {
      font-size: 2rem;
      text-transform: none;
    }
    .tpd-captioned-heading {
      font-size: 5rem;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .tpd-captioned-heading-content {
      font-size: 2rem;
    }
  }
}
